### Importação de Bibliotecas

In [119]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

### Importando Dataset

In [120]:
df = pd.read_csv("../data/cryptocurrency.csv")

### Verificação de dados e filtragem

In [121]:
# Conferir valores nulos
df.isnull().sum()

# Checar duplicatas
df.duplicated().sum()

np.int64(0)

### Conversão de coluna ['Date']

In [122]:
# Precisa converter Date (object) --> Date (datetime)
df['Date'] = pd.to_datetime(df['Date'])

# Criar colunas Ano, Mês e Dia
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

### BTC / ETH Datas Inicias

In [123]:
# Ver de quando até quando vai cada moeda.
df.groupby("Symbol")["Date"].agg(["min", "max"])

                       min                 max
Symbol
BTC    2013-04-29 23:59:59 2021-07-06 23:59:59
ETH    2015-08-08 23:59:59 2021-07-06 23:59:59

### Encontrando data simultânea inicial para BTC e ETH

In [124]:
# Encontrar intervalo comum entre moedas
start_date = df.groupby("Symbol")["Date"].min().max()  # maior data inicial
end_date = df.groupby("Symbol")["Date"].max().min()    # menor data final

# Filtrar dataset
df_2015 = df[(df["Date"] >= start_date) & (df["Date"] <= end_date)]

# DF-2015 com erro no index
df_2015 = df_2015.reset_index(drop=True)  # reseta o índice antigo
df_2015["SNo"] = df_2015.index + 1

### Análises Iniciais encontradas no dataset:

##### É possível logo inicialmente criar a coluna ['Return'] onde se dá pelo calculo da variação percentual do preço de fechamento de um dia para o outro, ou seja, cada linha de df['Return'] mostra quanto (%) o preço de fechamento mudou em relação ao dia anterior.

In [125]:
# Retorno Diário
df['Return'] = df['Close'].pct_change() * 100

##### O primeiro index vai estar NaN pois não é possível calcular a partir do primeiro dia, somente a partir da variação da coluna ['Close']

In [126]:
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap,Year,Month,Day,Return
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09,2013,4,29,NaN
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09,2013,4,30,-3.832845
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09,2013,5,1,-15.834534
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09,2013,5,2,-10.069236
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09,2013,5,3,-7.090580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5146,2156,Ethereum,ETH,2021-07-02 23:59:59,2155.596496,2021.824808,2109.892677,2150.040364,3.179621e+10,2.505527e+11,2021,7,2,1.723824
5147,2157,Ethereum,ETH,2021-07-03 23:59:59,2237.567155,2117.590013,2150.835025,2226.114282,1.743336e+10,2.594475e+11,2021,7,3,3.538255
5148,2158,Ethereum,ETH,2021-07-04 23:59:59,2384.286857,2190.837703,2226.550382,2321.724112,1.878711e+10,2.706217e+11,2021,7,4,4.294920
5149,2159,Ethereum,ETH,2021-07-05 23:59:59,2321.922836,2163.041394,2321.922836,2198.582464,2.010379e+10,2.562978e+11,2021,7,5,-5.303888
5150,2160,Ethereum,ETH,2021-07-06 23:59:59,2346.294874,2197.919385,2197.919385,2324.679449,2.089186e+10,2.710286e+11,2021,7,6,5.735377

### Evolução temporal do preço (gráfico de linha com Open/Close).

### Ciclos sazonais (ex: meses com maior valorização ou maior volume).

### Períodos de alta/baixa do mercado.

### Comparação por ano (2013–2021): qual ano teve maior crescimento?

### Volatilidade diária: diferença entre High - Low.

### Tendência: Close - Open → positivo (valorizou), negativo (desvalorizou).

### Comparação entre moedas: qual é mais volátil, qual valorizou mais.

### Dias/meses com maior movimentação (picos de compra/venda).

### Gráficos de candlestick (com Plotly) para análise técnica.

### Correlação entre volume e preço (ex: volume alto → queda ou alta?).

### Eventos extremos (outliers)

### Identificar os maiores picos e quedas de preço.

### Relacionar com eventos históricos (ex: crash de 2018).

### Comparar anos de maior valorização e maior queda.

### Identificar os piores crashes (retornos negativos extremos).

### Relacionar com eventos históricos (ex: queda do BTC em 2018, crash da pandemia em 2020).

### Risco x Retorno (financeiro clássico)
##### Sharpe Ratio simplificado:
##### Sharpe = Retorno médio / Desvio-padrão

### Análise temporal de risco
##### Plotar volatilidade móvel (rolling std) para ver períodos de maior risco.
##### Cada valor em df["RollingVolatility"] mostra o quanto os retornos diários variaram (oscilaram) nos 30 dias anteriores àquela data. É uma medida de risco/instabilidade do ativo ao longo do tempo.

In [128]:
df["RollingVolatility"] = df["Return"].rolling(30).std()

In [129]:
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap,Year,Month,Day,Return,RollingVolatility
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09,2013,4,29,NaN,NaN
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09,2013,4,30,-3.832845,NaN
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09,2013,5,1,-15.834534,NaN
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09,2013,5,2,-10.069236,NaN
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09,2013,5,3,-7.090580,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5146,2156,Ethereum,ETH,2021-07-02 23:59:59,2155.596496,2021.824808,2109.892677,2150.040364,3.179621e+10,2.505527e+11,2021,7,2,1.723824,5.570962
5147,2157,Ethereum,ETH,2021-07-03 23:59:59,2237.567155,2117.590013,2150.835025,2226.114282,1.743336e+10,2.594475e+11,2021,7,3,3.538255,5.507711
5148,2158,Ethereum,ETH,2021-07-04 23:59:59,2384.286857,2190.837703,2226.550382,2321.724112,1.878711e+10,2.706217e+11,2021,7,4,4.294920,5.490480
5149,2159,Ethereum,ETH,2021-07-05 23:59:59,2321.922836,2163.041394,2321.922836,2198.582464,2.010379e+10,2.562978e+11,2021,7,5,-5.303888,5.556285
5150,2160,Ethereum,ETH,2021-07-06 23:59:59,2346.294874,2197.919385,2197.919385,2324.679449,2.089186e+10,2.710286e+11,2021,7,6,5.735377,5.632061